LANGS=CHS,EN

# Talk Data

TALK_VERSION=6.5
TALK_OLD_VERSION=6.4

TALK_DATA_PATH='/PATH/TO/AnimeGameData'

# Text Data

TEXT_VERSION=6.5.54
TEXT_OLD_VERSION=6.5.53

REL_DATA_PATH='/PATH/TO/AnimeGameData'
CBT3_DATA_PATH='/PATH/TO/GenshinBetasData/[0.9.9] Closed Beta 3'
# Add more paths as env vars as needed
REF_DATA_PATH=$REL_DATA_PATH # Change when using a different reference data source than REL
