REL_DATA_PATH='/PATH/TO/AnimeGameData'
CBT3_DATA_PATH='/PATH/TO/GenshinBetasData/[0.9.9] Closed Beta 3'
# Add more paths as env vars as needed
REF_DATA_PATH=$REL_DATA_PATH # Change when using a different reference data source than REL
LANGS=CHS,EN
VERSION=6_5
VERSION_OLD=6_4
BETA=1 # Set to tag the output file as beta
